@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --background: #0c1528;
  --shadow: #091124;
  --primary: #dde7f3;
  --secondary: #8b96a8;
  --tertiary: #485667;
  --highlight: #3f8aff;
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:not(input):not(select) {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 100vw white inset !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

html {
  font-family: 'JetBrains Mono', monospace, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--primary);
  background-color: var(--background);
  background-position: center;
  background-image: radial-gradient(var(--secondary) 2.5%, transparent 2.5%);
  background-size: max(2.5vw, 2.5vh) max(2.5vw, 2.5vh);
  background-repeat: repeat;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.highlight {
  color: var(--highlight);
}

#terminal {
  width: min(calc(100% - 2em), 50em);
  max-height: min(70vh, 20em);
  margin: 1em auto;
  overflow: hidden;

  background: var(--background);
  border: .05rem solid var(--tertiary);
  border-radius: .75rem;
  box-shadow: 0 .25rem 1.5rem var(--shadow);
}

#terminal .header {
  padding: .75rem 1rem;
  color: var(--tertiary);
  background: var(--shadow);
  border-bottom: inherit;
  font-size: .75rem;
  letter-spacing: .125rem;
}

#terminal .content {
  padding: 1rem;
  font-size: .925rem;
}

#terminal .content #output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#terminal .content #output > span {
  margin: .125rem 0;
}

#terminal .content #input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .5rem;
  padding-top: .75rem;
}

#terminal .content #input input {
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  caret-color: var(--highlight);
  caret-shape: block;
  caret-animation: manual;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% { caret-color: transparent; }
}

#terminal .content #input input::selection {
  background: var(--highlight);
}